*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* modostiva */
    overflow: auto;
}

#monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../Pictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.icon-sendTray{
    background-image: url("../Pictures/icon-sendTray.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100%;
    width: 100%;
}

.icon-minimize{
    background-image: url("../Pictures/icon-minimize.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100%;
    width: 100%;
}

.icon-exit{
    background-image: url("../Pictures/icon-exit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100%;
    width: 100%;
}

.hoverAnim:hover{
    background-color: rgb(175, 171, 171) !important;
    cursor: pointer;
}

.icon-exit:hover{
    background-color: red;
    cursor: pointer;
}

#cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 50%;
    height: 60%;
}

#frame-cmd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(58, 58, 51);
    width: 100%;
    height: 5vh;
    overflow: hidden;
}

.cmdName{
    position: relative;
    left: 2%;
    color: white;
    font-size: 1vw;
}

#screen{
    background-color: rgb(13, 17, 13);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#text{
    color: rgb(43, 128, 43);
    font-size: 2vw;
    font-family: 'Consolas';
    position: relative;
    left: 5%;
    top: 10%;
    height: 10%;
    overflow: visible;
}

#email{
    color: rgb(43, 128, 43);
    font-size: 2vw;
    font-family: 'Consolas';
    display: flex;
    position: relative;
    left: 5%;
    top: 75%;
}

#square{
    display: inline;
}

ul{
    list-style-type:none;
}

li:hover{
    background-color: rgb(34, 95, 34);
    cursor: pointer;
}

li{
    width: 50%;
}

#introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    box-shadow: -1px 0 rgb(77, 73, 73), 0 1px rgb(77, 73, 73), 1px 0 rgb(77, 73, 73), 0 -1px rgb(77, 73, 73);
    visibility: hidden;
}

.frame-word{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 35, 102);
    color: white;
    border: 1px solid black;
}

.document-name{
    font-size: 1vw;
}

.screen-word{
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 213, 213);
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.box-grey{
    background-color: rgb(216, 213, 213);
    width: 15%;
}

.box-text{
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin-top: 1%;
    border: 1px solid rgb(179, 169, 169);
    overflow: scroll;
}

.introduction-text{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1vw;
    width: 90%;
}

.picture{
    background-image: url("../Pictures/myself.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20%;
    height: 250px;
    margin: 2%;
    margin-right: 0;
    float: right;
}

.icons-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10%;
}

.icon-controll{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    width: 100%;
}

.icon-controll.icon-save{
    background-image: url("../Pictures/icon-save.png");
}

.icon-controll.icon-redo{
    background-image: url("../Pictures/icon-redo.png");
}

.icon-save:hover{
    background-color: rgb(175, 171, 171);
    cursor: pointer;
}

.icons-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 10%;
    flex-basis: 8vw;
    overflow: hidden;
}

.icon-save:hover{
    background-color: rgb(175, 171, 171);
    cursor: pointer;
}

#tray{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: rgb(58, 58, 51);
    position: fixed;
    bottom: 0;
}

.tray-icons{
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 50%;
    height: 100%;
    width: 4%;
    visibility: hidden;
    background-color: rgb(175, 171, 171);
    display: none;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 5%;
    right: 3%;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.tray-notifications{
    background-image: url("../Pictures/tray-notifications.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    background-size: 30%;
    height: 100%;
    width: 5%;
}

.icon-windows{
    background-image: url("../Pictures/icon-windows.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 50%;
    height: 100%;
    width: 3%;
}

.tray-cmd{
    background-image: url("../Pictures/tray-cmd.png");
    visibility: visible;
    display: block;
}

.tray-word{
    background-image: url("../Pictures/tray-word.png");
}

.tray-pp{
    background-image: url("../Pictures/tray-pp.png");
}

.tray-txt{
    background-image: url("../Pictures/tray-notepad.png");
}

#experiences{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    box-shadow: -0.5px 0 rgb(77, 73, 73), 0 0.5px rgb(77, 73, 73), 0.5px 0 rgb(77, 73, 73), 0 -0.5px rgb(77, 73, 73);
    visibility: hidden;
}

.frame-pp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #D04423;
    color: white;
    border: 1px solid grey;
    overflow: hidden;
}

.screen-pp{
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 213, 213);
    width: 100%;
    height: 100%;
    border: 1px solid rgb(179, 169, 169);
}

.box-grey-pp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(216, 213, 213);
    height: 90%;
    width: 20%;
    margin: 2%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 1%;
}

.pp-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18%;
    width: 75%;
}

.pp-item-number{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.box-text-pp{
    background-color: rgb(216, 213, 213);
    width: 90%;
    margin: 2%;
    margin-right: 7%;
    /*border: 1px solid rgb(179, 169, 169);*/
    background-image: url("../Pictures/pp-item pp-item-1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pp-item{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80%;
    border: 1px solid rgb(179, 169, 169);
    background-size: cover;
    background-position: center;
}

.pp-item:hover{
    border: 1px solid black !important;
}

.pp-item-1{
    background-image: url("../Pictures/pp-item pp-item-1.jpg");
}

.pp-item-2{
    background-image: url("../Pictures/pp-item pp-item-2.jpg");
}

.pp-item-3{
    background-image: url("../Pictures/pp-item pp-item-3.jpg");
}

.pp-item-4{
    background-image: url("../Pictures/pp-item pp-item-4.jpg");
}

.pp-item-5{
    background-image: url("../Pictures/pp-item pp-item-5.jpg");
}

/* Kapcsolat */

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 40%;
    height: 70%;
    top: 10%;
    box-shadow: -0.5px 0 rgb(77, 73, 73), 0 0.5px rgb(77, 73, 73), 0.5px 0 rgb(77, 73, 73), 0 -0.5px rgb(77, 73, 73);
    visibility: visible;
}

.frame-txt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: white;
    color: black;
    overflow: hidden;
}

.screen-txt{
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 220, 220);
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.box-text-txt{
    background-color: white;
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
}

.contact-text{
    text-align: justify;
    font-family: 'Consolas';
    margin: 1%;
    font-size: 1vw;
}

.icons-2.icons-txt{
    height: 100%;
    width: 20%;
}

.icon-sendTray.icon-txt{
    background-image: url("../Pictures/icon-sendTray-txt.png");
}

.icon-minimize.icon-txt{
    background-image: url("../Pictures/icon-minimize-txt.png");
}

.icon-exit.icon-txt{
    background-image: url("../Pictures/icon-exit-txt.png");
}

.icon-notepad{
    background-image: url("../Pictures/tray-notepad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 100%;
    width: 50%;
    flex-basis: 2vw;
}

.txtName{
    width: 90%;
}

@media only screen and (max-width: 1400px) {
    .picture{
        height: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    .picture{
        height: 150px;
    }
    .introduction-text{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 992px) {
    .picture{
        height: 125px;
    }
}

@media only screen and (max-width: 768px) {
    #tray {
      display: none;
    }
    /* CMD */
    #cmd{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }

    #text{
        font-size: 5vw;
    }

    #frame-cmd{
        justify-content: center;
    }

    .cmdName{
        font-size: 2vw;
    }

    #email{
        font-size: 5vw;
    }

    .icon-sendTray{
        display: none;
    }

    .icon-minimize{
        display: none;
    }

    .icon-exit{
        position: absolute;
        right: 0;
        width: 10vw;
    }

    /* WORD */
    #introduction{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .frame-word{
        justify-content: center;
    }

    .icons-1{
        display: none;
    }

    .document-name{
        font-size: 2vw;
    }

    .introduction-text{
        font-size: 2.5vw;
    }

    .picture{
        height: 125px;
    }

    /* PowerPoint */

    #experiences{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .frame-pp{
        justify-content: center;
    }

    /* TXT */

    #contact{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .frame-txt{
        justify-content: center;
    }

    .txtName{
        width: auto;
    }

    .icon-notepad{
        flex-basis: 5vw;
    }

    .contact-text{
        font-size: 4vw;
    }
}

@media only screen and (max-width: 600px) {
    .picture{
        width: 87.5px;
        height: 112.5px;
    }

    .introduction-text{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 426px) {

    /* CMD */
    #text{
        font-size: 8vw;
    }

    .cmdName{
        font-size: 4vw;
    }

    #email{
        font-size: 6vw;
    }

    /* WORD */

    .picture{
        height: 140px;
    }

    .introduction-text{
        font-size: 3.5vw;
    }

    .document-name{
        font-size: 4vw;
    }

    /* PowerPoint */
}