*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../Pictures/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 50%;
    height: 60%;
}

#frame-cmd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: rgb(58, 58, 51);
    width: 100%;
    height: 5vh;
    overflow: hidden;
}

.cmdName{
    position: relative;
    left: 2%;
    color: white;
    font-size: 1vw;
}